<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--#########################################################################-->
		<!--Default Configuration-->
		<!--#########################################################################-->
		<add key="Number_Of_Floors_Available" value="10"/>
		<add key="Number_Of_Elevators_Available" value="4"/>

	</appSettings>
</configuration>