<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SoftwareDataEngineering" value="https://pkgs.dev.azure.com/SoftwareDataEngineering/_packaging/SoftwareDataEngineering%40Local/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SoftwareDataEngineering>
      <add key="Username" value="PapaPAT" />
      <add key="ClearTextPassword" value="vfyvlxeqb5gzzom3yyiqnwivl6o6vwiegfaem5jwnyedtxhmw4kq" />
    </SoftwareDataEngineering>
  </packageSourceCredentials>
</configuration>

